<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mju.t3rd.sailingtext.lk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/sailing_text"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mju.t3rd.sailingtext.lk.MainActivity"
            android:label="@string/title_activity_main" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="mju.t3rd.sailingtext.lk.startgame.CoverFlowExample"
            android:screenOrientation="portrait"></activity>
        <activity android:name="mju.t3rd.sailingtext.lk.option.credit.Credit"
            android:screenOrientation="portrait"></activity>
        <activity android:name="mju.t3rd.sailingtext.lk.option.OptionAitivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="mju.t3rd.sailingtext.lk.option.tutorial.Tutorial"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>